table {
    background-image: linear-gradient(to bottom, #ff00b305 0%, #8c00ff05 100%);
    background-origin: border-box;
    border: 5px solid transparent;
    border-spacing: 5px;
}

th {
	color: #9c1ed6 !important;
}

tr.pad-bottom td {
    padding-bottom: 3rem;
}